<div class="row">
    <div class="col-md-3">
        <br>
    </div>

    <div class="col-md-3">
        <form action="/login" method="post">
        <br>
            <legend>existing user login</legend>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="ex. FrenchFry">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Your password">
            </div>
            <div class='text-right'>
                <button type="submit" class="btn btn-primary">login</button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>