<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Reddit.js</title>
    </head>
    {{!-- navbar --}}
    <body>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form action="/post/new" method="post">
                <legend>New Post</legend>
                <div class="form-group">
                    <label for="post-title">Title</label>
                    <input type="text" name="title" class="form-control" id="post-title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="post-url">Url</label>
                    <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.google.com">
                </div>
                <div class="form-group">
                    <label for="post-summary">Summary</label>
                    <textarea name="summary" class="form-control" id="post-summary" placeholder="Title"></textarea>
                </div>
                <div class='text-right'>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>
                </form>
            </div>
        </div>
    </body>
</html>